# folders
.venv
.cache
.pytest_cache
__pycache__

slurm
evaluation/results
evaluation/parsed_details

# temporary: files to be removed from here after modifications
tests
evaluation/parse_results_details.py

# files
.env
*.sh
